body {
  text-align: center;
  background-color: #011F3F;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
  transition: opacity 0.2s step-end;
}

.game-over-title{
  animation: fade-in 1.5s steps(6, end);
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.btn-show{
  animation: fade-in-out 2s linear forwards;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
  transition: all 0.2s jump-end;
}

footer {
  font-family: 'Press Start 2P', cursive;
  font-size: 0.5rem;
  color: #FEF2BF;
  text-align: center;
  position: fixed; /* or absolute */
  top: 90%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

@keyframes fade-in-out {
  0%,100% { opacity: 0; }
  50% { opacity: 1; }
}

@keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@media (max-width: 991px) {
  #level-title {
    font-size: 1.5rem;
  }
  .container {
    display: block;
    width: 80%;
    margin: auto;
    position: fixed; /* or absolute */
    top: 45%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
  }
  
  .btn {
    margin: 2.5vw;
    display: inline-block;
    height: 20vw;
    width: 20vw;
    border: 1.5vw solid black;
    border-radius: 20%;
  }
}